/* style.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars on full-page apps */
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  /* Use max-width/height to maintain visibility on small screens */
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}